/* COLORS: 
Red: #DB5A4C;
Dark teal: #1C3D41;
Light teal: #5A8C8C;
*/

html, body {
	width: 100%;
	min-height: 100%;
	color: #1C3D41;
	font-family: "Vollkorn", serif;
}

a:LINK, a:VISITED {
	text-decoration: none;
	color: #5A8C8C;
}

a:HOVER {
	color: #1C3D41;
}

/* Insult Styling */

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 50px 30px
}

.wrapper {
	font-family: "Chivo", sans-serif;
	font-weight: 900;
	color: #DB5A4C;
	font-size: 80pt;
	line-height: 80pt;
	min-height: 320px;
}

#question {
	font-size: 14pt;
	font-style: italic;
	margin: 30px 0px;
}

/* Footer Styling */

.footerwrapper {
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #FFF;
	text-align: center;
}

footer {
	max-width: 500px;
	margin: 30px auto;
	text-align: center;
}


.title {
	text-transform: uppercase;
	line-height: 12pt;
	font-size: 24pt;
	border-top: 1px solid;
	margin: 0px 30px;
	padding: 40px 0px 0px 0px;

}

.subtitle {
	font-size: 12pt;
	font-style: italic;
	font-weight: 400;
	margin: 0px 0px 20px;
}

.nav {
	padding: 20px;
	font-family: "Chivo", sans-serif;
	text-transform: uppercase;
	font-size: 8pt;
}

/* Responsive Design */

@media (max-width: 750px) {
	.wrapper {
		font-size: 60pt;
		line-height: 60pt;
		min-height: 200px;
	}
}

@media (max-width: 500px) {
	.wrapper {
		font-size: 36pt;
		line-height: 36pt;
	}

	.nav {
		display: block;
		padding: 0px;
	}

}

@media (max-width: 300px) {
	.title {
		font-size: 18pt;
		line-height: 9pt;
	}

}

